@page
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.AzureAD.UI
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var claim in User.Claims)
    {
        <div>@claim.Type = @claim.Value</div>
    }
    <p>@nameof(User.Identity.AuthenticationType) = @User.Identity.AuthenticationType</p>
    <p>access_token = @await HttpContext.GetTokenAsync(AzureADDefaults.OpenIdScheme, "access_token")</p>
    <p>refresh_token = @await HttpContext.GetTokenAsync("refresh_token")</p>
</div>
